@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-gradient-custom {
  background: linear-gradient(to bottom right, 
    #000000 0%, 
    #393838 25%, 
    #bec0be 50%, 
    #474747 75%, 
    #000000 100%);
}

.title-buscaminas {
  font-family: 'Algerian', serif;
  letter-spacing: 0.2em;
}
